.product {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.product-image {
  display: grid;
  place-items: center;
}

.product-image img {
  width: 50%;
}

.product-details {
  display: grid;
  gap: 2rem;
  margin: 2rem;
}

.qty-details {
  display: flex;
  gap: 2rem;
}

.qty-details select {
  width: 50px;
}
